<div class="wrapper">
  <div class="header">
    <div class="in-header">
      <div><i class="uil uil-video"></i></div>
      <div class="title">Reconocimiento Facial con <b>Angular</b></div>
    </div>
    <div>
      <a href="https://github.com/ixshelescamilla" target="_blank"><i class="uil uil-github"></i>ixshelescamilla</a>
    </div>
  </div>

  <div class="block-main">
    <div class="cam">
      <!-- <app-video-player 
        [width]="dimensionVideo.width"
        [height]="dimensionVideo.height"
        [stream]="currentStream">
      </app-video-player> -->
      <app-video-player
        [stream]="currentStream">
      </app-video-player>
    </div>
    <div class="sidebar">
      <div class="zone-body">
        <div class="block">
          <div><b>Expressions</b></div>
          <div *ngFor="let expression of listExpressions">
            <span>{{expression.name}}</span><span class="value-number">{{ expression.value | number }}</span>
          </div>
        </div>
        <div class="block">
          <div>Puntos de Referencia</div>
          <div class="canvas-preview"></div>
        </div>
      </div>
      <div class="zone-btn">
        <ul class="list-btn">
          <li *ngFor="let btn of [1,1,1]">
            <i class="uil uil-emoji"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
