<div *ngIf="modelsReady">
  <video 
    [style.width]="width+'px'"
    [style.height]="height+'px'"
    (loadedmetadata)="loadedMetaData()"
    (play)="listenerPlay()"
    #videoElement 
    *ngIf="stream" 
    [srcObject]="stream">
  </video>
</div>

<div *ngIf="!modelsReady">Loading models...</div>

<!-- <div class="filters" *ngFor="let filter of filters">
  <div class="filter-eye filter-question" *ngIf="filter.type === 'image'">
    <img src="../../assets/filters/{{filter.image}}" alt="">
  </div>
</div> -->